.primary_btn {
    padding: 18px 10px;
    background: black;
    color: white;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
}

.outline_btn {
    padding: 18px 10px;
    color: black;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid black;
    font-size: 16px;
    background-color: white;
    width: 100%;
    cursor: pointer;
}